.row {
	flex-wrap: wrap;
}

#user-container {
	width: 100%;
	height: 800px;
	border-radius: 5px;
	background: -webkit-linear-gradient(left top, #536878, #C0C0C0 30%, #536878);
	margin-left: 20px;
}

#new-dog-btn {
	font-family: 'Sigmar One';
	color: #536878;
	border: 1px solid #536878;
	margin: 25px 0 0 35%;
}

#pics {
	width: 100%;
	height: 800px;
	border-radius: 5px;
	background: #536878;
	background: -webkit-linear-gradient(left top, white, #536878 30%, white);
}

#new-pic-btn {
	font-family: 'Sigmar One';
	color: #536878;
	border: 1px solid #536878;
	margin: 25px 0 0 35%;
} 

#fav-parks {
	width: 100%;
	height: 800px;
	border-radius: 5px;
	margin-right: 15px;
	background: #536878;
	background: -webkit-linear-gradient(left top, #536878, #C0C0C0 30%, #536878);
}

#new-park-btn {
	font-family: 'Sigmar One';
	color: #536878;
	border: 1px solid #536878;
	margin: 25px 0 0 35%;
}

#user-h3, #pic-h3, #parks-h3 {
	text-align: center;
	text-decoration: underline;
}

#dog1 {
	width: 100%;
	height: 200px;
	margin: 15px 15px 15px 50px;
	background: -webkit-linear-gradient(left top, white, #C0C0C0);
	border-radius: 5px;
	font-family: 'Sigmar One';
	overflow: hidden;
}

#dog2 {
	width: 100%;
	height: 200px;
	background: -webkit-linear-gradient(left top, white, #C0C0C0);
	border-radius: 5px;
	margin: 15px;
	font-family: 'Sigmar One';
	overflow: hidden;
}

#dog3 {
	width: 100%;
	height: 200px;
	margin: 15px 15px 15px 50px;
	background: -webkit-linear-gradient(left top, white, #C0C0C0);
	border-radius: 5px;
	font-family: 'Sigmar One';
	overflow: hidden;
}

#park1 {
	width: 100%;
	height: 200px;
	background: -webkit-linear-gradient(left top, white, #C0C0C0);
	border-radius: 5px;
	margin: 15px 15px 15px 50px;
	font-family: 'Sigmar One';
}

#park2 {
	width: 100%;
	height: 200px;
	background: -webkit-linear-gradient(left top, white, #C0C0C0);
	border-radius: 5px;
	margin: 15px;
	font-family: 'Sigmar One';
}

#dog-pic-1 {
	width: 100%;
	height: 200px;
	margin: 15px;
	border-radius: 50px;
}

#dog-pic-2 {
	width: 100%;
	height: 200px;
	margin: 15px;
	border-radius: 50px;
}

#dog-pic-3 {
	width: 100%;
	height: 200px;
	margin: 15px;
	border-radius: 50px;
}