<div class="card text-center card-inverse card-info mb-3" *ngIf="oneUser">
<div class="card-block">
    <h1 class="card-title">{{oneUser.name}}</h1>
    <h3>{{oneUser.email}}</h3>
    <img class="card-img-top" src="{{oneUser.image}}">
</div>
	<a routerLink="../dogs/new"><button>Add Dog</button></a>
	<div class="card-text" *ngFor="let dog of oneUser.dogs">
		  		<h4>{{dog.name}}</h4>
		  		<a routerLink="../dogs/{{dog.id}}"><img src="{{dog.image}}" style="width: 20rem;"></a> 
					<p>{{dog.description}}</p>
		  	
</div>
</div>


