.row {
	flex-wrap: wrap;
}

#user-container {
	width: 100%;
	height: 800px;
	border-radius: 5px;
	background: -webkit-linear-gradient(left top, #536878, #C0C0C0 30%, #536878);
	margin-left: 20px;
}

#pics {
	width: 100%;
	height: 800px;
	border-radius: 5px;
	background: #536878;
	background: -webkit-linear-gradient(left top, #C0C0C0, #536878 30%, #C0C0C0);
}

#fav-parks {
		width: 100%;
	height: 800px;
	border-radius: 5px;
	margin-right: 15px;
	background: #536878;
	background: -webkit-linear-gradient(left top, #536878, #C0C0C0 30%, #536878);
}

#dog1 {
	width: 100%;
	height: 200px;
	background: -webkit-linear-gradient(left top, white, #C0C0C0);
	border-radius: 5px;
	margin: 15px;
	font-family: 'Sigmar One';
}

#dog2 {
	width: 100%;
	height: 200px;
	background: -webkit-linear-gradient(left top, white, #C0C0C0);
	border-radius: 5px;
	margin: 15px;
	font-family: 'Sigmar One';
}

#dog3 {
	width: 100%;
	height: 200px;
	background: -webkit-linear-gradient(left top, white, #C0C0C0);
	border-radius: 5px;
	margin: 15px;
	font-family: 'Sigmar One';
}

#park1 {
	width: 100%;
	height: 200px;
	background: -webkit-linear-gradient(left top, white, #C0C0C0);
	border-radius: 5px;
	margin: 15px;
	font-family: 'Sigmar One';
}

#park2 {
	width: 100%;
	height: 200px;
	background: -webkit-linear-gradient(left top, white, #C0C0C0);
	border-radius: 5px;
	margin: 15px;
	font-family: 'Sigmar One';
}

#dog-pic-1 {
	width: 100%;
	height: 200px;
	margin: 15px;
	border-radius: 50px;
}

#dog-pic-2 {
	width: 100%;
	height: 200px;
	margin: 15px;
	border-radius: 50px;
}

#dog-pic-3 {
	width: 100%;
	height: 200px;
	margin: 15px;
	border-radius: 50px;
}