<div class="cards text-center card-inverse card-info mb-3" *ngIf="oneUser">
		<div class="card" style="width: 30rem;">
		  <img class="card-img-top" src="{{oneUser.image}}" alt="Card image cap">
		  <div class="card-block">
		    <h1 class="card-title">{{oneUser.name}}</h1>
				<a routerLink="../dogs/new"><button class="btn btn-success">Add Dog</button></a>
		  	<div class="card-text" *ngFor="let dog of oneUser.dogs">
		  		<h4>{{dog.name}}</h4>
		  		<a routerLink="../dogs/{{dog.id}}"><img src="{{dog.image}}" style="width: 20rem;"></a>
					<p>{{dog.description}}</p>
		  	</div>
		  </div>
		</div>
</div>



