<div class="row">
	<div id="user-container" class="col-md">
		<div class="row">
			<h3>Quinn O'Neill</h3>
			<div id="dog1" class="col-md-4">
				<h6>Doggie</h6>
				<p>Breed</p>
				<p>Age</p>
				<p>Fixed?</p>
				<p>description</p>
			</div>
			<div id="dog2" class="col-md-4">
				<h6>Doggie</h6>
				<p>Breed</p>
				<p>Age</p>
				<p>Fixed?</p>
				<p>description</p>
			</div>
			<div id="dog3" class="col-md-4">
				<h6>Doggie</h6>
				<p>Breed</p>
				<p>Age</p>
				<p>Fixed?</p>
				<p>description</p>
			</div>
		</div>		
	</div>	
	<div id="pics" class="col-md">
		<div class="row">
			<h3>Pics</h3>
			<div class="col-md-5">
				<img id="dog-pic-1" src="http://cdn-www.dailypuppy.com/dog-images/buddy-the-blue-heeler_77498_2016-08-21_w450.jpg">
			</div>
			<div class="col-md-5">
				<img id="dog-pic-2" src="https://retrieverman.files.wordpress.com/2011/06/red-and-blue-heeler.jpg">
			</div>	
			<div class="col-md-5">
				<img id="dog-pic-3" src="https://irp-cdn.multiscreensite.com/afb29759/dms3rep/multi/mobile/female%20yorkie-well-groomed-001-min-200x200.jpg">
			</div>	
		</div>		
	</div>	
	<div id="fav-parks" class="col-md">
		<div class="row">
			<h3>Favorite Parks</h3>
			<div id="park1" class="col-md-4">
				<h6>Park 1</h6>
				<p>Address</p>
				<p>#Times Checked-in</p>
				<p>Thumbs Up</p>			
			</div>	
			<div id="park2" class="col-md-4">
				<h6>Park 2</h6>
				<p>Address</p>
				<p>#Times Checked-In</p>
				<p>Thumbs Up</p>
			</div>	
		</div>	
	</div>	
</div>
