<div class="card text-center" style="width: 60rem;">
  <h1 class="card-header">{{oneDog.name}} - {{oneDog.breed}}</h1>
  <img class="card-img-top" [src]='oneDog.image' alt="{{oneDog.name}}'s photo">
  <div class="card-body">
    <h3 class="card-text">{{oneDog.age}} years old</h3>
    <h3 class="card-text">{{oneDog.description}}</h3>
    <h3 class="good" *ngIf='oneDog.fixed else elseBlock'>Fixed</h3>
    <ng-template #elseBlock>
      <h3 class="bad">NOT Fixed</h3>
    </ng-template>
  </div>
  <div class="card-footer"></div>
  <a routerLink='edit'><button class="btn btn-primary">EDIT {{oneDog.name}}</button></a><br>
  <div><button (click)='deleteDog(oneDog)' class="btn btn-danger">DELETE {{oneDog.name}}</button></div>
</div>
