<div class="card">
  <div class="card-header">{{oneDog.name}} - {{oneDog.breed}}</div>
  <img [src]='oneDog.image' alt="{{oneDog.name}}'s photo" class="card-img-top">
  <div class="card-body">
    <p class="card-text">{{oneDog.age}} years old</p>
    <p class="card-text">{{oneDog.description}}</p>
    <div class="good" *ngIf='oneDog.fixed else elseBlock'>Fixed</div>
    <ng-template #elseBlock>
      <div class="bad">NOT Fixed</div>
    </ng-template>
  </div>
  <div class="card-footer"></div>
  <a routerLink='edit'><button class="btn btn-primary">EDIT</button></a>
  <button (click)='deleteDog(oneDog)' class="btn btn-danger">DELETE</button>
</div>
