
#img-container {
	height: 200px;
	width: 100%;
	background: #D3D3D3;
	margin-right: 0;
	border-radius: 10px;
	border: 2px double white;

}

@media only screen and (max-width: 1200) {
	#img-container {
		flex-wrap: wrap;
	}
}

@media only screen and (max-width: 775px) {
	#img-container {
		display: none;
	}

	#head-img-2, #head-img-3 {
		display: none;
	}

	#head-img-5, #head-img-6 {
		display: none;
	}

	#head-img-1, #head-img-4 {
		display: none;
	}
}

@keyframes left-image3FadeInOut {
0% {
    opacity:1;
}
45% {
	opacity:1;
}
55% {
	opacity:0;
}
100% {
	opacity:0;
}
}

#img-left img.top {
	animation-name: left-image3FadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 8s;
	animation-direction: alternate;
}

@keyframes middle-image3FadeInOut {
0% {
    opacity:1;
}
45% {
	opacity:1;
}
55% {
	opacity:0;
}
100% {
	opacity:0;
}
}

#img-middle img.top {
	animation-name: middle-image3FadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 9s;
	animation-direction: alternate;
}

@keyframes right-image3FadeInOut {
0% {
    opacity:1;
}
45% {
	opacity:1;
}
55% {
	opacity:0;
}
100% {
	opacity:0;
}
}

#img-right img.top {
	animation-name: right-image3FadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 7s;
	animation-direction: alternate;
}

@keyframes far-image3FadeInOut {
0% {
    opacity:1;
}
45% {
	opacity:1;
}
55% {
	opacity:0;
}
100% {
	opacity:0;
}
}

#img-far img.top {
	animation-name: far-image3FadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 8s;
	animation-direction: alternate;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

#head-img-1 {
	position: absolute;
	margin-left: 8px;
	height: 200px;
	width: 100%;
	margin-top: 5px;
	border-radius: 5px;
}


#head-img-4 {
	margin-left: 8px;
	height: 200px;
	width: 100%;
	margin-top: 5px;
	border-radius: 5px;
}

#head-img-2 {
	position: absolute;
	height: 200px;
	width: 100%;
	margin-top: 5px;
	border-radius: 5px;
}

#head-img-3 {
	height: 200px;
	width: 100%;
	margin-top: 5px;
	border-radius: 5px;
}

#head-img-5 {
	position: absolute;
	height: 200px;
	width: 100%;
	margin-top: 5px;
	border-radius: 5px;
}

#head-img-6 {
	height: 200px;
	width: 100%;
	margin-top: 5px;
	border-radius: 5px;
}

#head-img-7 {
	position: absolute;
	height: 200px;
	width: 100%;
	margin-top: 5px;
	border-radius: 5px;
	flex-grow: 2;
}

#head-img-8 {
	height: 200px;
	width: 100%;
	margin-top: 5px;
	border-radius: 5px;
	flex-grow: 2;
}

h3 {
	font-family: 'Sigmar One';
	float: left;
}

.search-bar {
	margin-left: 100px;
	margin-right: 100px;
}

#search {
	font-family: 'Sigmar One';
	border: 1px solid black;
	border-radius: 5px;
	height: 35px;
	width: 400px;
}

#button {
	font-family: 'Sigmar One';
}

.routerLinks {
	float: right;
	font-family: 'Sigmar One';
	margin-left: 50px;
	margin-right: 50px;
	color: #428bca;
}