<form (ngSubmit)='saveDog(newDog)' enctype="multipart/form-data">
	<label for="name">Name: </label>
	<input name="name" [(ngModel)]='newDog.name'>
	<label for="breed">Breed: </label>
	<input name="breed" [(ngModel)]='newDog.breed'>
	<label for="fixed">Fixed: </label>
	<input type='checkbox' name="fixed" [(ngModel)]='newDog.fixed'>
	<label for="description">Description: </label>
	<input name="description" [(ngModel)]='newDog.description'>
	<label for="age">Age: </label>
	<input type='number' name="age" [(ngModel)]='newDog.age'>
	<label for="image">Image URL: </label>
	<input name="image" [(ngModel)]='newDog.image'>
	<input type="submit" value='SAVE'>
</form>