<div id="containery" class="main__body">
  
    <div class="container">
        <h1>Dog Check-In</h1>
      <div class="row">
        <div id="loginform" class="card col-md-5">
          <h3 id="card-h3" align="center">Login Form</h3>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#google" role="tab" aria-controls="google">Google</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#login" role="tab" aria-controls="login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#signup" role="tab" aria-controls="signup">Sign Up</a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="google" role="tabpanel">
              <br>
              <br>
              <form>
                  <button type="button" class="btn btn-block btn-primary" (click)="signInWithGoogle()">
                    <i class="fa fa-google" aria-hidden="true"></i>
                    Login with Google
                  </button> 
              </form>
              <br>
            </div>
            <div class="tab-pane" id="login" role="tabpanel">
              <br>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" [(ngModel)]="email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password">
              </div>
              <br>
              <button type="button" class="btn btn-block btn-success" (click)="emailLogin()">
                Login with Email
              </button>
              <br>
            </div>
            <div class="tab-pane" id="signup" role="tabpanel">
            <br>
            <div class="form-group">
              <label for="exampleInputName1">Display Name</label>
              <input type="email" class="form-control" id="exampleInputName1" placeholder="Display Name" [(ngModel)]="name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" [(ngModel)]="email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password">
            </div>
            <br>
            <button type="button" class="btn btn-block btn-warning" (click)="emailSignUp()">
              Signup with Email
            </button>
            <br>
          </div>
        </div>
      </div>
          
        <div id="description" class="card col-md-5">
            <h6>Our Mission:</h6>
            <p>Dog Check-In is a user-friendly, social media site that connects dog owners and allows them to find dog-parks and other users within their local community. Dog Check-In is perfect for new residents looking to find new places to take their dogs, as well as established community members looking to connect with others and create a fun and safe environment for their pets to socialize. Join Dog Check-In today and get out and connect!</p>
        </div> 
      </div> 

    </div>  <!-- end container -->

  <script>
    $(function () {
      $('#myTab a:last').tab('show')
    })
  </script>

</div> 
