<div id="containery" class="main__body">
  
    <div class="container">
        <h1>Dog Check-In</h1>
      <div class="row">
        <div id="login" class="card col-md-5">
          <form >
            <h3 id="card-h3" align="center">Login Form</h3>
              <button type="button" class="btn btn-block" (click)="signInWithGoogle()">
                          <i class="fa fa-google" aria-hidden="true"></i>
                          Login with Google
              </button>                
          </form>
        </div>

          
        <div id="description" class="card col-md-5">
            <h6>Our Mission:</h6>
            <p>Dog Check-In is a user-friendly, social media site that connects dog owners and allows them to find dog-parks and other users within their local community. Dog Check-In is perfect for new residents looking to find new places to take their dogs, as well as established community members looking to connect with others and create a fun and safe environment for their pets to socialize. Join Dog Check-In today and get out and connect!</p>
        </div> 
      </div> 

    </div>  <!-- end container -->
  

</div> 
