<div id="container">
	<div class="row">
		<div id="jared" class="card col-md-6">
			<h1>Jared</h1>
			<div class="row">
				<img id="jared-img" class="col-md" src="../../assets/jared2.png">
				
				<div class="col-md">
					<p>I First started programming in Java and SQL while studying my undergrad degree in Computer Information Systems. I really enjoy building cool things and working with a team. I recently attended General Assembly to study the Full Stack Web Development Immersive Program.</p>
					<a href="http://www.pleva.co" target="_blank">Portfolio</a>
				</div>	
			</div>	
		</div>
		<div id="cameron" class="card col-md-6">
			<h1>Cameron</h1>
			<div class="row">
				<img id="cam-img" class="col-md" src="../../assets/cameron.jpg">
				
				<div class="col-md">
					<p>I build solutions to problems and collaborate with teams to work towards a functional answer. I have a CS background and have an aptitude for the back-end. I'm enthusiastic about full-stack applications and love seeing projects grow from start to finish.</p>
					<a href="http://castells.co/" target="_blank">Portfolio</a>
				</div>	
			</div>	
		</div>
		<div id="jeff" class="card col-md-6">
			<h1>Jeff</h1>
			<div class="row">
					<img id="jeff-img" class="col-md" src="../../assets/jeff.png">
				
				<div class="col-md">
					<p>I am a full stack web developer, project manager and seasoned customer service professional. My background includes more than 10 years of installing, supporting and training on a full suite of hospitality software products and services. I have international work experience throughout North America, the Caribbean, Central America and Asia. Enthusiastic and driven, I am inspired to combine my previous experience with my flourishing web development skills.</p>
					<a href="http://www.jeffreyengleberg.co" target="_blank">Portfolio</a>
				</div>	
			</div>
		</div>
		<div id="quinn" class="card col-md-6">
			<h1>Quinn</h1>
			<div class="row">
					<img id="quinn-img" class="col-md" src="../../assets/quinn3.png">
				<div class="col-md">
					<p>I am a full-stack web developer, however the front-end is where my passion lies. I am eager to expand my UX and design skills and incorperate them into my coding ability. Although more visually focused, I enjoy nothing more than binding the front-end and back-end worlds together into a stimulating user application.</p>
					<a href="https://github.com/qoneill3" target="_blank">GitHub</a>
				</div>	
			</div>
		</div>			
	</div>
</div>	