.card {
	font-family: 'Sigmar One';
	color: black;
}

h1 {
	color: black;
}

a {
	text-align: center;
	color: blue;
}

p {
	font-family: sans-serif;
}

img {
	border-radius: 10px;
}

#jared {
	color: black;
}

#cameron {
	color: black;
}

#jeff {
	color: black;
}

#quinn {
	color: black;
}

#jared-img, #cam-img, #jeff-img, #quinn-img {
	margin-left: 20px;
	filter: brightness(.8);
	height: 40vh;
	width: 30%;
	border-radius: 10px;
}

