agm-map {
  height: 100vh;
  width: 100vw;
}


body {
	background: -webkit-linear-gradient(left, #C0C0C0, black 50%, #C0C0C0);
}

.form-group {
	margin: 15px;
	border: 1px solid #C0C0C0;
	border-radius: 5px;
}

a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;

}