<div class="map row justify-content-center">
  
  <div class="form-group">
    <input autocorrect="off" autocapitalize="off" spellcheck="off" type="search" class="form-control" #search [formControl]="searchControl">
  </div>

	<div *ngIf="latitude && longitude">
		<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
			<agm-marker *ngFor="let marker of markers"
			  [latitude]="marker.lat"
			  [longitude]="marker.lng"
				[iconUrl]="'../assets/dogPin.png'">
			  <agm-info-window>
			    <h3><strong>{{marker.name}}</strong></h3>
			    <p>{{marker.address}}</p>
			    <p>Rating: {{marker.rating}}</p>
			    <button (click)="checkIn(marker)" class="btn btn-success">Check In!</button>
			    <button (click)="getDirections()" class="btn btn-primary">Navigate Here</button>
			    <button (click)="favoritePark()" class="btn btn-warning">Favorite This Park</button>
			  </agm-info-window>
			 </agm-marker>
		</agm-map>
	</div>

</div>
