<div class="container">

  <h1 class="jumbotron">Map! woohoo!</h1>
  
  <div class="form-group">
    <input placeholder="search" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
  </div>

	<div *ngIf="latitude && longitude">
		<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
			<agm-marker *ngFor="let marker of markers let i = index"
			  [latitude]="markers[i].lat"
			  [longitude]="markers[i].lng"
				[iconUrl]="">
			  <agm-info-window>
			    <h3><strong>Location Details</strong></h3>
			    <p>Lets Go To The Park</p>
			  </agm-info-window>
			 </agm-marker>
		</agm-map>
	</div>

</div>
