<header>
	<div id="nav-bar" class="row">
		<div class="col-md justify-column-center">	
			<h3>Welcome, {{user.displayName}}</h3>
		</div>
			
		<div align="right" class="col-md justify-column-right" id="router">
			<a id="link0" class="nav" routerLink="/map">Map</a> 
			<a id="link1" class="nav" routerLink="/profile">Profile</a>
			<a id="link2" class="nav" routerLink="/connections">Connections</a>
			<a id=link4 class="nav" routerLink="/about">About Us</a>
			<a id="link3" class="nav" routerLink="" (click)='logout()'>Logout</a>
		</div>
	</div>
</header>	



